Detectron2 : https://detectron2.readthedocs.io/tutorials/install.html
	If on Windows, then this guide allows for installation of Detectron2: https://medium.com/@dgmaxime/how-to-easily-install-detectron2-on-windows-10-39186139101c
cv2
pyyaml
torch